html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;

  background: linear-gradient(to bottom right, #191724, #3c1413);
  font-size: 2rem;
}

main {
  color: #e0def4;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  // unselectable text
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.block {
  aspect-ratio: 1 / 1;
  width: 2.5rem;
  display: table-cell;

  --b: 2px;   /* thickness of the border */
  --c: #6e6a8680;   /* color of the border */
  --w: 20%;  /* width of border */

  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg,var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);

  text-align: center;
  vertical-align: middle;

  padding: 0;
  margin: 0;
  font-weight: bolder;
}

tr td {
  padding: 0;
  margin: 0;
}

.nav {
  padding: 0.5em;
  width: 2rem;
}

.nav_button {
  color: #908caa;
  transition: 200ms ease-out;
}

.nav_button:hover {
  color: #e0def4;
}

.buttons {
  font-weight: bold;
  color: #eb6f92;
  transition: 200ms ease-out;
}

.buttons:hover {
  color: #ebbcba;
}

.buttons[indicator="true"] {
  color: #9ccfd8;
}

.buttons[indicator="true"]:hover {
  color: #3e8fb0;
}

a {
  color: #c4a7e7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #56526e;
}

a:visited {
  color: #c4a7e7;
}

.credit {
  padding: 0.5em;
  text-align: left;
  font-size: 1.5rem;
}

.tooltip {
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;

  color: #e0def4;

  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover {
  color: #ea9a97;
}

.show {
  color: #f6c177;
  transition: 200ms ease-out;
}

.locked {
  color: #6e6a86;
}

.new_achi {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  transition: opacity 0.3s;
}

.new_achi:hover {
  visibility: hidden;
}

.level_id {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
